<footer class="footer">
  <div class="footer-content">
    <div class="ladder-wrapper">
      <p class="step step-1">Projects that push boundaries and redefine potential.</p>
      <p class="step step-2">From concept to intelligent solution.</p>
      <p class="step step-3">Exploring possibilities. Building intelligent futures.</p>
      <p class="step step-4">Shaping the future, one project at a time.</p>
    </div>
  </div>
  <div class="lastsection">
  <div class="logo-section">
      <img src="assets/images/logos/lightLogo.svg" alt="DSS Logo" class="footer-logo" />
      <div class="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-github"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>

    <!-- <p class="footer-desc">
      Paving the way for cashless society in Egypt. Leading Digital Transformation in the Financial<br>
      and Governmental sector.
    </p> -->

    <div class="footer-links">
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Contact Us</a>
    </div>

    <address class="footer-address">
      68 ElHorreya Road-Alexandria
    </address>

    <p class="copyright">
      © 2025 DSS Systems. All Rights Reserved
    </p>
    </div>
</footer>
