<div class="about-text-content">
    <h2 class="about-title">About Us</h2>
    <p class="about-description">
     Deep Systems is a forward-thinking technology company specializing in embedded systems, cutting-edge digital solutions, and innovative tech development. Founded with a vision to bridge the gap between ideas and impactful technologies, we are committed to driving transformation through intelligent engineering and purposeful innovation.

At Deep Systems, we design and develop high-performance embedded systems, custom software solutions, and smart technologies tailored to meet the evolving demands of industries such as automation, IoT, defense, healthcare, and smart infrastructure. Our team of skilled engineers, developers, and system architects bring deep technical expertise and creative problem-solving to every project we undertake.

Innovation is at the core of what we do. Whether it's crafting real-time embedded firmware, integrating secure systems, or building scalable digital platforms, we aim to empower businesses and industries with future-ready solutions that drive efficiency, reliability, and growth.
    </p>

    <div class="highlight-number" #highlightNumber>
        <span class="number">54.74+</span>
        <span class="unit">Million</span>
    </div>
    <div style="height:4rem ;"></div>
    <a [routerLink]="['/mainaboutus']" class="no-underline">
        <button type="button" class="button">
            <span class="button__text">Explore More</span>
            <span class="button__icon">
                <img src="/assets/images/others/right.png" style="width: 40%;" />
            </span>
        </button>
    </a>
</div>
