<div class="about-text-content">
    <h2 class="about-title">About Us</h2>
    <p class="about-description">
        54.74+ million internet users connect in Egypt in January 2020. The
        reported number of internet users in Egypt increased by 9.8 million
        (+22%) between 2019 and 2020.
    </p>

    <div class="highlight-number" #highlightNumber>
        <span class="number">54.74+</span>
        <span class="unit">Million</span>
    </div>
    <div style="height:4rem ;"></div>
    <a [routerLink]="['/mainaboutus']" class="no-underline">
        <button type="button" class="button">
            <span class="button__text">Explore More</span>
            <span class="button__icon">
                <img src="/assets/images/others/right.png" style="width: 40%;" />
            </span>
        </button>
    </a>
</div>