<div class="hero">
    <div class="overlay"></div>
        <div class="floating-particles"></div>

    <div class="contact-header">
        <h2>
            Helping Governments & Enterprises<br />
            Digitally Transform
        </h2>
        <p>
            As artificial intelligence becomes increasingly integrated into our daily lives, we face a pivotal question:
            do we want 
            to shape this technology with intention, aligning it with human values, ethics, and creativity, or will we
            allow it to 
            shape us, subtly rewiring how we think, connect, and make decisions? The future of AI is not just about
            capability
            but about control—not merely what it can do, but who we become because of it.
        </p>
    </div>
</div>